@model List<Barge>
@{
    ViewData["Title"] = "Barge_By_Owner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="function-btn" style="margin-left: 100px;margin-bottom: 20px">
         <a href="@Url.Action("GoBack", "Maintenance")" id="backbtn" class="btn-primary">Back</a>
        <a id="prntbtn" style="display: block"><img src="../image/printing.png"></a>
    </div>
    <div class="row" style="justify-content: center">
       
        <div class="col-lg-10 border border-2">

            <table class=" table table-striped table-responsive">
                <thead>
                <tr style="text-align: left">
                    <th>Barge_Name</th>
                    <th>Size</th>
                    <th>Rate</th>
                    <th>Owner</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>

                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Barge_Name</td>
                            <td>@item.Size</td>
                            <td>@item.Rate</td>
                            <td>@item.Owner</td>
                            <td>@item.Description</td>
                        </tr>
                    }

                }

                </tbody>
            </table>

        </div>
    </div>
</div>

@{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#prntbtn").click(function () {
                $(".function-btn").hide(); 
                window.print();
                $(".function-btn").show(); 
            });
        });
    </script>
}