@model List<UPFleet.ViewModels.UPFleetViewModel>

<html>
<head>
</head>
<body>

    <div class="function-btn">
         <a href="@Url.Action("GoBack", "Maintenance")" id="backbtn" class="btn-primary">Back</a>
        <a id="prntbtn" title="Print This Report"><img src="../image/printing.png"></a>
    </div>
    <table class="table" id="printTable">
        <thead>
            <tr>
                <th>Barge Name</th>
                <th>Owner</th>
                <th>Total Cost</th>
                <th>Transaction No</th>
                <th>Barge Size</th>
                <th>Rate</th>
                <th>Total Days</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transferView in Model)
            {
                @if (transferView.TransferList.Any())
                {
                    <tr>
                        <td>@transferView.Barge.Barge_Name</td>
                        <td>@transferView.Barge.Owner</td>
                        <td>$@((int)(transferView.Barge.Rate ?? 0) * transferView.TransferList.Sum(t => t.DaysIn))</td>
                        <td>@transferView.Transaction.TransactionNo</td>
                        <td>@transferView.Barge.Size</td>
                        <td>$@transferView.Barge.Rate</td>
                        <td>@transferView.TransferList.Sum(t => t.DaysIn)</td>
                        <td>@transferView.Transaction.Status</td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>From</th>
                                        <th>To</th>
                                        <th>Cost</th>
                                        <th colspan=""></th>
                                        <th>Days In</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var transfer in transferView.TransferList)
                                    {
                                        <tr>
                                            <td>@transfer.From</td>
                                            <td>@transfer.To</td>
                                            <td>
                                                $@(transfer.DaysIn * transferView.Barge.Rate)
                                            </td>
                                            <td colspan="3"></td>
                                            <td>@transfer.DaysIn</td>
                                            <td>@transfer.Status</td>
                                        </tr>
                                    }
                                    <p>Summary for Transaction# @transferView.Transaction.TransactionNo (@(transferView.TransferList.Count()) details Record)</p>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
@{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#prntbtn").click(function () {
                $(".function-btn").hide();
                window.print();
                $(".function-btn").show();
            });
        });
    </script>
}