@model IEnumerable<UPFleet.ViewModels.View_Model>

<html>
<head>
</head>
<body>
    <div class="function-btn">
         <a href="@Url.Action("GoBack", "Maintenance")" id="backbtn" class="btn-primary">Back</a>
        <a id="prntbtn" title="Print This Report"><img src="../image/printing.png"></a>
    </div>
    <table class="table" id="printTable">
        <thead>
            <tr>
                <th>Barge Name</th>
                <th>Owner</th>
                <th>Total Cost</th>
                <th>Transaction No</th>
                <th>Barge Size</th>
                <th>Rate</th>
                <th>Total Days</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transferView in Model)
            {
                @if (transferView.TransferList.Any())
                {
                    <tr>
                        <td>@transferView.Barge.Barge_Name</td>
                        <td>@transferView.Barge.Owner</td>
                        <td>$@((int)(transferView.Barge.Rate ?? 0) * transferView.TransferList.Sum(t => t.DaysIn))</td>
                        <td>@transferView.Transaction.TransactionNo</td>
                        <td>@transferView.Barge.Size</td>
                        <td>$@transferView.Barge.Rate</td>
                        <td>@transferView.TransferList.Sum(t => t.DaysIn)</td>
                        <td>@transferView.Transaction.Status</td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 215px;">From</th>
                                        <th style="width: 270px;">To</th>
                                        <th style="width: 160px;">Cost</th>
                                        <th colspan="3"></th>
                                        <th style="width: 155px">Days In</th>
                                        <th style="width: 130px;">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var transfer in transferView.TransferList)
                                    {
                                        <tr>
                                            <td>@transfer.From</td>
                                            <td>@transfer.To</td>
                                            <td>
                                                $@(transfer.DaysIn * transferView.Barge.Rate)
                                            </td>
                                            <td colspan="3"></td>
                                            <td>@transfer.DaysIn</td>
                                            <td>@transfer.Status</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>
@{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    //<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $("#prntbtn").click(function () {
                $(".function-btn").hide();
                window.print();
                $(".function-btn").show();
            });
        });
    </script>
}