@model UPfleet.Models.Barge
@{
    ViewData["Title"] = "Barge Updates";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="text-center text-primary">Update Barges</h3>
                </div>
                <form method="post" asp-action="BargeUpdate" asp-controller="Maintenance" id="formid">
                    <input type="hidden" asp-for="ID" />
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Barge_Name">Barge Name</label>
                            <input type="text" asp-for="Barge_Name" class="form-control" id="Barge_Name" />
                            <span asp-validation-for="Barge_Name" id="erBarge_Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Size"></label>
                            <input type="text" asp-for="Size" class="form-control" id="size" />
                            <span asp-validation-for="Size" id="ersize" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Rate"></label>
                            <input type="text" class="form-control" asp-for="Rate" style="text-align:right;" id="rate" />
                            <span asp-validation-for="Rate" id="errate" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Owner"></label>
                            <select asp-for="Owner" asp-items="@(new SelectList(ViewBag.message, "OwnerName", "OwnerName", Model.Owner))" id="owner" class="form-control"></select>
                            <span asp-validation-for="Owner" id="erowner" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description"></label>
                            <input type="text" class="form-control" asp-for="Description" id="description" />
                            <span asp-validation-for="Description" id="erdescription" class="text-danger"></span>
                        </div>
                        <div class="form-group"style="display: flex;align-items: center;justify-content: space-between;">
                            <div class="m-1">
                                <a href="@Url.Action("BargeUpdate", "Maintenance", new { id = ((Model.ID)-1) })"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
                                <label>@Model.ID</label>/<label>@TempData["MaxID"]</label>
                                <a href="@Url.Action("BargeUpdate", "Maintenance", new { id = ((Model.ID)+1) })"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                            </div>
                            <input type="submit" class="btn btn-primary m-2" value="Submit" id="btnid" />
                            <a href="@Url.Action("GoBack", "Maintenance")" class="btn btn-danger m-2 float-sm-end">Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

@section Scripts{
    <script src="~/js/jsbarge.js"></script>
}

