@model UPfleet.Models.Owner
@{
    ViewData["Title"] = "Add/Edit Owners";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <div class="card">
                <div class="card-header">
                    <h3 class="text-center text-primary">Update Owners</h3>
                </div>
                <form method="post" asp-action="OwnerUpdate" asp-controller="Maintenance" id="formid">
                    <input type="hidden" asp-for="ID" />
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="OwnerName">Owner=CustomerID in PeachTree</label>
                            <input type="text" asp-for="OwnerName" class="form-control" id="owner_name" />
                            <span asp-validation-for="OwnerName" id="erowner_name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Company">Company-Refereance Only</label>
                            <input type="text" asp-for="Company" class="form-control" id="company" />
                            <span asp-validation-for="Company" id="ercompany" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-5" style="display:flex;">
                            <label class="col-8" sp-for="Account">Income Account For Peach Tree</label>
                            <input type="text" asp-for="Account" class="form-control" id="account" />
                            <span asp-validation-for="Company" id="eraccount" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display: flex;align-items: center;justify-content: space-between;">
                            <div class="m-1">
                                <a href="@Url.Action("OwnerUpdate", "Maintenance", new { id = ((Model.ID)-1) })"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
                                <label>@Model.ID</label>/<label>@TempData["data"]</label>
                                <a href="@Url.Action("OwnerUpdate", "Maintenance", new { id = ((Model.ID)+1) })"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                            </div>
                            <input type="submit" class="btn btn-primary m-1" value="Submit" id="btnid" />
                            <a href="@Url.Action("GoBack", "Maintenance")"  class="btn btn-danger m-1 float-sm-end">Back</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/js/jsowner.js"></script>
}

