@model UPfleet.Models.Owner
@{
    ViewData["Title"] = "Add/Edit Owners";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary" style="text-decoration:underline">Add/Edit Owners.</h1>
                </div>
                <form method="post" asp-action="OwnerUpdate" asp-controller="Maintenance" id="formid">
                    <input type="hidden" asp-for="ID" />
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="OwnerName">Owner=CustomerID in PeachTree</label>
                            <input type="text" asp-for="OwnerName" class="form-control" id="owner_name" />
                            <span asp-validation-for="OwnerName" id="erowner_name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Company">Company-Refereance Only</label>
                            <input type="text" asp-for="Company" class="form-control" id="company" />
                            <span asp-validation-for="Company" id="ercompany" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-5" style="display:flex;">
                            <label class="col-8" sp-for="Account">Income Account For Peach Tree</label>
                            <input type="text" asp-for="Account" class="form-control" id="account" />
                            <span asp-validation-for="Company" id="eraccount" class="text-danger"></span>
                        </div>
                        <div class="form-group" style="display:flex;">
                            <div class="m-3">
                                <a href="@Url.Action("OwnerUpdate", "Maintenance", new { id = ((Model.ID)-1) })"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
                                <label>@Model.ID</label>/<label>@TempData["data"]</label>
                                <a href="@Url.Action("OwnerUpdate", "Maintenance", new { id = ((Model.ID)+1) })"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                            </div>
                            <input type="submit" class="btn btn-primary m-3" value="Submit" id="btnid" />
                            <a href="@Url.Action("HomePage", "Home")" class="btn btn-danger m-3">Back</a>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
@section Scripts{
    <script src="jquery-3.6.4.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jsowner.js"></script>
}
